/*  applies to whole page  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    background-color: transparent;

}

/* heading top */
.h {
    margin-top: 110px;
}

/* logo design */
.logo {
    background-image: url("images/logo.svg");
    background-repeat: no-repeat;
    margin: 100px 130px;
    background-color: transparent;

}

/* main outer full box */
.mainbox {
  width: 100vw;
  height: 100vh;
}

/* h1 first line */
.first {

    color: rgba(200, 156, 155, 255);
    font-weight: 200;
    font-size: 200%;
    text-indent: 0%;
    letter-spacing: 20px;
    background-color: transparent;

}

/* h1 second line  */
.second {

    color: rgba(69, 60, 61, 255);
    font-weight: bold;
    text-indent: 0%;
    letter-spacing: 20px;
    font-size: 200%;
    background-color: transparent;
}

/* h1 last line  */
.last {
    text-indent: 0%;
    color: rgba(66, 57, 58, 255);
    font-size: 200%;
    letter-spacing: 20px;
    
    margin-bottom:10%;

}

/* paragraph */
p.content {
    margin-top: 10%;
  }
.content {
    color:rgba(201, 170, 169, 255);
    font-weight: normal;
    line-height: 180%;
    background-color: transparent;

}

/* div left box*/
.leftbox {

    width: 56vw;
    margin: none;
    padding: none;
    box-sizing: border-box;
    height: 100vh;
    float: left;
    background-image: url("images/bg-pattern-desktop.svg");
    background-color: transparent;


}

/* email label */
input[type=email] {
    box-sizing: border-box;
    border-radius: 20px;
    width: 85%;
    height:50px;
    padding: 15px 15px;
    margin: 40px 0;
    color: rgba(201, 170, 169, 255);
  border-color:rgba(228,217,218,255) ;
  display: inline-block;
}
/*
/*email  function key*/
.arrow {
    content: url('images/icon-arrow.svg');
    width: 80px;
    height: 50px;
    background-color:rgba(240,152,151,225) ;
   border-radius: 20px;
   font-weight: 20px;
   display: inline-block;
   margin-left: -15%;
   margin-bottom:-4%;
  }
  
/*  div second box  */
.imagebox {
    padding: none;
    box-sizing: border-box;
    margin: none;
    width: 44vw;
    height: 100vh;
    float: 40px;
    float: right;
}


  